<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <form method="post" action="/">
      <h1>Pig Latinizer!</h1>
      <h3>Enter your phrase:</h3>
    <textarea name="user_phrase"></textarea>
    <br>
    <input id="submit" type="submit" name="submit" value="submit">
  </form>
  </body>
</html>
